In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv("telco_join.csv")
data.head(6)

,State,VMail Message,Day Mins,Eve Mins,Night Mins,Intl Mins,CustServ Calls,Day Calls,Day Charge,Eve Calls,...,Night Calls,Night Charge,Intl Calls,Intl Charge,Area Code,Phone,Account Length,Churn,Int'l Plan,VMail Plan
0,KS,25,265.1,197.4,244.7,10.0,1,110,45.07,99,...,91,11.01,3,2.70,415,382-4657,128,0,0,1
1,OH,26,161.6,195.5,254.4,13.7,1,123,27.47,103,...,103,11.45,3,3.70,415,371-7191,107,0,0,1
2,NJ,0,243.4,121.2,162.6,12.2,0,114,41.38,110,...,104,7.32,5,3.29,415,358-1921,137,0,0,0
3,OH,0,299.4,61.9,196.9,6.6,2,71,50.90,88,...,89,8.86,7,1.78,408,375-9999,84,0,1,0
4,OK,0,166.7,148.3,186.9,10.1,3,113,28.34,122,...,121,8.41,3,2.73,415,330-6626,75,0,1,0
5,AL,0,223.4,220.6,203.9,6.3,0,98,37.98,101,...,118,9.18,6,1.70,510,391-8027,118,0,1,0

In [3]:
from sklearn.preprocessing import LabelEncoder

In [4]:
STATUSs = LabelEncoder()
UNITSs = LabelEncoder()
State = LabelEncoder()
Phone = LabelEncoder()

In [5]:
data['State'] = STATUSs.fit_transform(data['State'])

data['Phone'] = STATUSs.fit_transform(data['Phone'])

In [15]:
data.loc[[37, 47, 57, 67, 87,97, 201, 300, 3000, 3320],['Day Mins','Churn']]

      Day Mins  Churn
37       130.8      0
47       187.0      0
57       198.4      1
67       125.2      0
87       214.3      0
97       198.2      0
201      182.3      0
300      171.7      0
3000     223.2      0
3320     140.0      1

In [16]:
dd = data.loc[[37, 47, 57, 67, 87,97, 201, 300, 3000, 3320],['Day Mins','Churn']]

In [17]:
dg = pd.DataFrame(dd)

In [18]:
dg.to_csv('random_ten.csv')

In [54]:
hf = pd.read_csv('xrandom_ten.csv')
hf.head()

   Day Mins  Churn
0     130.8      0
1     187.0      0
2     198.4      1
3     125.2      0
4     214.3      0

In [55]:
prediction_var=['Day Mins']

In [56]:
X=hf[prediction_var]
y=hf.Churn

In [57]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=4)

In [58]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score
from sklearn import metrics

model_LR= LogisticRegression()

In [59]:
model_LR.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [60]:
y_prob = model_LR.predict_proba(X_test)[:,1] # This will give you positive class prediction probabilities  
y_pred = np.where(y_prob > 0.5, 1, 0) # This will threshold the probabilities to give class predictions.
model_LR.score(X_test, y_pred)

1.0

In [61]:
predictions = model_LR.predict(X)

In [62]:
print("Testing Accuracy :", model_LR.score(X_test, y_test))
print("Training Accuracy :", model_LR.score(X_train,y_train))

('Testing Accuracy :', 1.0)
('Training Accuracy :', 0.75)

In [73]:
y_pred

array([0, 0])

In [74]:
predictions

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int64)

In [77]:

# connect predictions with outputs
for i in range(1):
    print(X[i], predictions[i])

KeyError: 0

In [78]:
hf.corr()

          Day Mins     Churn
Day Mins  1.000000 -0.120481
Churn    -0.120481  1.000000