In [2]:
import pandas as pd
from pandas import Series,DataFrame
import numpy as np

In [3]:
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')
%matplotlib inline

In [4]:
dframe1 = DataFrame({"father":["x", "y", "z", "do", "rlgdj", "ukndkg"],  "dataset1":np.arange(6)})

In [5]:
dframe1

   dataset1  father
0         0       x
1         1       y
2         2       z
3         3      do
4         4   rlgdj
5         5  ukndkg

In [6]:
dframe2 = DataFrame({"father":["x", "y", "z", "do", "rlhfdggdj", "ukndkg", "eghdf", "jhfkjdag"],  "dataset2":np.arange(8)})

In [7]:
dframe2

   dataset2     father
0         0          x
1         1          y
2         2          z
3         3         do
4         4  rlhfdggdj
5         5     ukndkg
6         6      eghdf
7         7   jhfkjdag

In [8]:
pd.merge(dframe1,dframe2)

   dataset1  father  dataset2
0         0       x         0
1         1       y         1
2         2       z         2
3         3      do         3
4         5  ukndkg         5

In [9]:
frame3 = DataFrame({"father":["x", "y", "z", "do", "rlhfdggdj", "ukndkg", "eghdf", "jhfkjdag"],
                    "father": ["x", "y", "z", "do", "rlhfdggdj", "ukndkg", "eghdf", "jhfkjdag"],
                    
                    "dataset3":np.arange(8)})

In [10]:
frame3

   dataset3     father
0         0          x
1         1          y
2         2          z
3         3         do
4         4  rlhfdggdj
5         5     ukndkg
6         6      eghdf
7         7   jhfkjdag

In [11]:
frame4 = DataFrame({"father":["x", "y", "z", "do", "rlhfdggdj", "ukndkg", "eghdf"],
                    "father1": ["x", "y", "z", "do", "rlhfdggdj", "ukndkg", "eghdf"], 
                    "father2": ["x", "y", "z", "do", "rlhfdggdj", "ukndkg", "eghdf"],
                
                    "dataset4":np.arange(7)})

In [12]:
frame4

   dataset4     father    father1    father2
0         0          x          x          x
1         1          y          y          y
2         2          z          z          z
3         3         do         do         do
4         4  rlhfdggdj  rlhfdggdj  rlhfdggdj
5         5     ukndkg     ukndkg     ukndkg
6         6      eghdf      eghdf      eghdf

In [13]:
pd.merge(frame3,frame4)

   dataset3     father  dataset4    father1    father2
0         0          x         0          x          x
1         1          y         1          y          y
2         2          z         2          z          z
3         3         do         3         do         do
4         4  rlhfdggdj         4  rlhfdggdj  rlhfdggdj
5         5     ukndkg         5     ukndkg     ukndkg
6         6      eghdf         6      eghdf      eghdf

In [29]:
dframe = Dataframe(np.arange(16).reshape(4,4))

NameError: name 'Dataframe' is not defined

In [26]:
ar

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15]])